<template>
  <div class="about">
    <h2>Тестовое задание SquareGPS</h2>
    <p>Необходимо с помощью <strong>Vuejs, Vuex, VueRouter, Vuetify</strong> написать приложение.<br/>
      Хэдер приложения должен содержать меню из 2-х пунктов: <strong>О задании</strong> и <strong>Карта</strong>.<br/>
      В основной части приложения должно отображаться содержимое разделов.</p>

    <h3>Раздел &ldquo;О задании&rdquo;</h3>
    <p>В разделе должен быть текст этого задания, сверстанный аналогично.</p>

    <h3>Раздел &ldquo;Карта&rdquo;</h3>
    <p>На экране должны быть карта и список (см пример):</p>
    <ol>
      <li>При клике на кнопку добавления, карта должна перейти в режим добавления маркера: <br>в месте клика должен
        появится
        маркер, а в списке - запись с координатами
      </li>
      <li>При клике на маркер должна подсвечиваться запись в списке</li>
      <li>При клике на запись в списке карта должна центрироваться на маркере</li>
      <li>Маркеры должны храниться локально и не пропадать после перезагрузки страницы</li>
      <li>В адресной строке должен отображаться id выбранного маркера</li>
    </ol>
    <br>

    <strong>Дополнительно:</strong><br>
    <ol>
      <li>Продумать отображение на мобильных устройствах</li>
      <li>Предусмотреть локализацию</li>
      <li>Необходимо с помощью jest написть 1 модульный тест на любой компонент</li>
      <li>Произвести имитацию сохранения данных на бекенд (асинхронно)</li>
    </ol>
    <br>

    <p><strong>Напоминание:</strong> тестовое задание призвано показать умение писать хороший<br/>
      модульный код, а также умение пользоваться указанными технологиями и не только.<br/>
      Этим кодом нужно гордиться.</p>

    <p>Пример:</p>

    <div align="center">
      <img :src="require('@/assets/example.jpg')">
    </div>

  </div>
</template>

<style>
.about {
  padding: 32px;
}
</style>
