<template>
  <div class="marker-wrap">
    <div class="marker-list" :class="{hide:menu}">
      <MarkerList></MarkerList>
    </div>
    <div class="marker-map">
      <MarkerMap></MarkerMap>
    </div>
    <PlusButton></PlusButton>
  </div>
</template>

<script>

import MarkerList from '../components/MarkerList'
import MarkerMap from '../components/MarkerMap'
import PlusButton from '../components/PlusButton'
import { mapState } from 'vuex'

export default {
  name: 'Map',
  components: {
    PlusButton,
    MarkerMap,
    MarkerList
  },
  computed: {
    ...mapState(['menu'])
  }
}
</script>

<style>
.marker-wrap {
  display: flex;
  width: 100%;
  height: calc(100vh - 110px);
  overflow: hidden;
}

.marker-list {
  width: 300px;
  transition: width .5s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

/*@media (min-width: 800px) {*/
/*  .marker-list {*/
/*    width: 0px;*/
/*  }*/
/*}*/

.marker-list.hide {
  width: 0px;
}

.marker-map {
  flex-grow: 1;
  overflow: hidden;
}
</style>
