<template>
  <div>
    <div class="title">{{$t('markers')}}</div>

    <MarkerItem
      v-for="(marker, index) in markers"
      :key="index"
      :marker="marker"
    >
    </MarkerItem>

  </div>
</template>

<script>
import { mapState } from 'vuex'
import MarkerItem from './MarkerItem'

export default {
  name: 'MarkerList',
  components: { MarkerItem },
  computed: {
    ...mapState(['markers'])
  }
}
</script>

<style scoped>
.title {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
}
</style>
