<template>
  <div id="map" ref="map" :class="{adding:adding}"></div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'MarkerMap',
  data () {
    return {
      watchForSelectedMarker: false
    }
  },
  mounted () {
    this.map = window.L.map(this.$refs.map).setView([51.505, -0.09], 15)
    window.L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&nbsp;',
    }).addTo(this.map)

    this.map.on('click', this.mapClick)
    // this.map.on('contextmenu', this.contextMenu)
    this.addMarkers()
    this.$store.commit('setMap', this.map)

    // pre open marker
    setTimeout(() => {
      this.watchForSelectedMarker = true
      const rq = this.$route.query
      if (rq.marker) {
        console.log('select:', rq.marker)
        this.$store.commit('selectMarker', rq.marker)
      }
    }, 1000)
  },
  methods: {
    mapClick (e) {
      if (!this.adding) return
      this.$store.commit('addMarker', {
        selected: false,
        ...e.latlng
      })
    },
    addMarkers () {
      this.markers.forEach((marker) => {
        if (!marker.instance) {
          console.log('added id:', marker.id)
          marker.instance = window.L.marker([marker.lat, marker.lng]).addTo(this.map)
          // on click
          marker.instance.bindPopup(`ID: ${marker.id}<br>Lat: ${marker.lat}<br>Lon: ${marker.lng}`)
          marker.instance.on('click', () => {
            this.$store.commit('selectMarker', marker.id)
          })
          // on remove
          marker.removeFromMap = () => {
            this.map.removeLayer(marker.instance)
          }
        }
      })
    }
  },
  computed: {
    ...mapState(['adding', 'markers']),
    selectedMarker () {
      return this.markers.find((marker) => marker.selected)
    }
  },
  watch: {
    markers () {
      this.addMarkers()
      this.$store.dispatch('saveMarkers')
    },
    selectedMarker (newValue) {
      if (!newValue) return
      // console.log('selected:', newValue)
      this.map.panTo(newValue)

      if (this.watchForSelectedMarker) {
        const usp = new URLSearchParams({
          marker: newValue.id
        })
        history.pushState(
          {},
          null,
          this.$route.path + '?' + usp.toString()
        )
      }
    }
  }
}
</script>

<style scoped>
#map {
  height: 100%;
}

.adding {
  cursor: crosshair;
}
</style>
