<template>
  <div class="marker" :class="{selected:marker.selected}" @click="selectMarker(marker.id)">
    <div class="description">
      <div class="name">{{$t('marker')}} {{ marker.id }}</div>
      <div class="coordinates">{{ marker.lat }}, {{ marker.lng }}</div>
    </div>
    <div class="icon">
      <v-icon @click="deleteMarker(marker.id)">
        mdi-delete
      </v-icon>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MarkerItem',
  props: {
    marker: {
      type: Object,
      required: true,
    }
  },
  methods: {
    selectMarker (id) {
      this.$store.commit('selectMarker', id)
    },
    deleteMarker (id) {
      this.$store.commit('deleteMarker', id)
    }
  }
}
</script>

<style scoped>
.marker {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.marker:hover {
  background: rgba(0, 0, 0, 0.09);
}

.marker.selected {
  background: rgba(0, 255, 0, 0.09);
}

.description {
  flex-grow: 1;
}

.name {
  font-size: 18px;
}

.coordinates {
  color: gray;
  font-size: 12px;
}
</style>
