<template>
  <div class="plus" @click="toggle">
    <v-btn v-if="isActive" fab dark color="red">
      <v-icon dark>
        mdi-stop
      </v-icon>
    </v-btn>
    <v-btn v-else fab dark color="primary">
      <v-icon dark>
        mdi-plus
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'PlusButton',
  computed: {
    isActive () {
      return this.$store.state.adding
    }
  },
  methods: {
    toggle () {
      this.$store.commit('toggleAdding')
    }
  }
}
</script>

<style scoped>
.plus {
  position: fixed;
  right: 18px;
  bottom: 18px;
  z-index: 5000;
}
</style>
