<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
      :height="110"
      :src="require('@/assets/2-740a.png')"
    >
      <div class="header">
        <div class="header-title">{{$t('message')}}</div>
        <div class="header-controls">
          <v-app-bar-nav-icon @click="toggleMenu"></v-app-bar-nav-icon>
          <v-tabs app>
            <v-tab class="tab-width" to="/">{{$t('menu.map')}}</v-tab>
            <v-tab class="tab-width" to="/about">{{$t('menu.about')}}</v-tab>
          </v-tabs>
          <div style="flex-grow: 1"></div>

          <div style="z-index: 5000">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  plain
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-web</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(item, index) in items"
                  :key="index"
                >
                  <v-list-item-title class="pointer" @click="setLocale(item.locale)">{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>

        </div>
      </div>
    </v-app-bar>
    <v-main>
      <keep-alive>
        <router-view/>
      </keep-alive>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  computed: {
    items () {
      return [
        {
          title: this.$t('lang.ru'),
          locale: 'ru'
        },
        {
          title: this.$t('lang.en'),
          locale: 'en'
        },
      ]
    }
  },
  methods: {
    toggleMenu () {
      this.$store.commit('toggleMenu')
      setTimeout(() => {
        this.$store.dispatch('invalidateSize')
      }, 501)
    },
    setLocale (locale) {
      this.$i18n.locale = locale
    }
  },
  mounted () {
    this.$store.dispatch('loadMarkers')
  }
}
</script>

<style scoped lang="scss">
.tab-width {
  width: 160px;
}

@media (max-width: 600px) {
  .tab-width {
    width: 120px;
  }
}
</style>

<style>
body {
  min-width: 380px;
}

.theme--dark.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}

.header {
  width: 100%;
}

.header-title {
  margin-top: 20px;
  margin-left: 12px;
  margin-bottom: -12px;
  font-size: 20px;
}

.header-controls {
  height: 80px;
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
</style>
